<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <contextName>house-party</contextName>
    <property name="log.directory" value="/opt/docker/logs/" />
    <property name="log.filename" value="${CONTEXT_NAME}.log" />

    <!-- do not think this will exists in a ephemeral docker container -->
    <include optional="true" file="/opt/resources/logback/shared-logback.xml" />
    <include optional="true" file="/opt/resources/logback/${CONTEXT_NAME}-logback.xml" />
    <!-- end of comments -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d [%thread] %-5level %logger [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.directory}/${log.filename}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.directory}/${log.filename}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>${log.maxhistory:-30}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d [%thread] %-5level %logger [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.zaxxer.hikari" level="WARN" />
    <logger name="io.swagger" level="WARN" />
    <logger name="javax.management.mbeanserver" level="WARN" />
    <logger name="org.apache.kafka.clients" level="WARN" />
    <logger name="org.apache.kafka.common" level="WARN" />
    <logger name="org.apache.coyote.http11.Http11NioProcessor" level="WARN" />
    <logger name="org.apache.zookeeper.ZooKeeper" level="WARN" />
    <logger name="org.apache.zookeeper.ClientCnxn" level="WARN" />
    <logger name="org.springframework.web" level="WARN" />

    <root level="${log_level:-DEBUG}" >
        <appender-ref ref="SYSLOG"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>